* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.texto-footer {
    color: white;
}

.texto-footer:hover {
    font-size: 105%;
    color: blue;
    text-decoration: none;
}

.Visa:hover {
    color: blue;
    background-color: white;
}

.Mastercard:hover {
    color: #fe5c01;
    background-color: white;
}

.Paypal:hover {
    color: #103780;
    background-color: white;
}

.Discover:hover {
    color: gray;
    background-color: white;
}